<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hl4a.runtime" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <application 
        android:theme="@style/HL4A.Indigo" >
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C0"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C1"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C2"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C3"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C4"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C5"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C6"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C7"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C8"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C9"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C10"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C11"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C12"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C13"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C14"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C15"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C16"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C17"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C18"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C19"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C20"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C21"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C22"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C23"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C24"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C25"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C26"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C27"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C28"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C29"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C30"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C31"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C32"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C33"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C34"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C35"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C36"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C37"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C38"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C39"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C40"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C41"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C42"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C43"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C44"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C45"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C46"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C47"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C48"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C49"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C50"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C51"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C52"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C53"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C54"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C55"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C56"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C57"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C58"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C59"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C60"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C61"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C62"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C63"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C64"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C65"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C66"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C67"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C68"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C69"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C70"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C71"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C72"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C73"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C74"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C75"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C76"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C77"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C78"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C79"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C80"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C81"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C82"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C83"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C84"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C85"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C86"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C87"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C88"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C89"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C90"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C91"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C92"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C93"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C94"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C95"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C96"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C97"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C98"/>
        <activity
            android:launchMode="singleTask"
            android:name=".StubActivity$C99"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fpv"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" /> 
        </provider>
    </application>
</manifest>
